<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>

	<appSettings>

		<!-- shorten_name: all characters before the string specified as value here will be removed from log file. Leave empty to deactivate -->
		<add key="shortenName" value=""/>

		<!-- logFolder: folder where the logs are stored. put 2 backslashes as folder separator -->
		<add key="logFolder" value="%AppData%\\Lync logs" />

		<!-- AudioLoggerStatus: status of AudioLogger. Valid Values (On,Off)-->
		<add key="AudioLoggerStatus" value="Deactivated" />

		<!-- ShowNotifications: Show Notifications. Valid Values (true,false)-->
		<add key="ShowNotifications" value="True" />

	</appSettings>
</configuration>
